



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6675df;
}

a.clickable {
	border = 1px solid #
}

/*==========================================================*/

button {
	font-family: Poppins-Regular, sans-serif;
	padding: 0px 5px;
	margin: 2px;
}


/*==========================================================*/

.event-row {
	width: 940px;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 5px;
	height: 152px;
}
.center_header {
	padding-top: 10px;
	margin: auto;
	width: 960px;
	background-color: #fff;
}
.center {
	margin: auto;
	width: 960px;
	padding: 10px;
	background-color: #fff;
}

#grad1 {
	height: 100%;
	background: linear-gradient(#d9d9d9, #ffffff);
}

.header_menu_container {
	width: 960px;
	height: 51px;
	padding-top: 14px;
	padding-bottom: 13px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	background: linear-gradient(#ffe680, #ffd11a);
}
.header_menu {
	display: flex;
	justify-content: space-between;
}
.header_menu :hover {
	background-color: transparent;
	color: inherit;
	font-family: Poppins-Bold, sans-serif;
	font-size: 20px;
}
.header_menu .active {
	background-color: transparent;
	color: inherit;;
	font-family: Poppins-Bold, sans-serif;
}
.header_tab {
	padding: 0px 10px;
}
.header_tab_first {
	padding-left: 50px;
}
.header_tab_last {
	padding-right: 50px;
}

.speaker {
	margin-top: 20px;
}

.text-description {
	font-size: 14px;
	overflow: auto;
	padding-left: 20px;
	max-height: 80px;
}

.event-link-title {
	font-size: 16px;
	color: #0000EE;
}

.sub_divider {
	display: block;
	background-color: black;
	color: transparent;
	width: 960px;
	height: 4px;
	margin: auto;
}

img.open_events {
	height: 105px;
	width: 183px;
	float: left;
}

.open_events_format {
	padding-left: 20px;
	display: inline;
}

.open_event_img_container {
	float: left;
	height: 105px;
	width: 183px;
}

.meme_column {
	float: left;
	width: 50%;
	padding: 5px;
}
.meme_row::after {
	content: "";
	clear: both;
	display: table;
}
