



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6675df;
}

a.clickable {
	border = 1px solid #
}

/*==========================================================*/

button {
	font-family: Poppins-Regular, sans-serif;
	padding: 0px 5px;
	margin: 2px;
}


/*==========================================================*/

.event-row {
	width: 940px;
	border:1px solid #ccc;
	border-radius:15px;
	padding:10px;
	margin-bottom:5px;
}
.center_header {
	padding-top: 10px;
	margin: auto;
	width: 960px;
	background-color: #fff;
}
.center {
	margin: auto;
	width: 960px;
	padding: 10px;
	background-color: #fff;
}

#grad1 {
	height: 100%;
	background: linear-gradient(grey, white);
}

.header_menu_container {
	width: 940px;
	height: 42px;
	overflow: hidden;
}
.header_menu {

}
.header_menu :hover {
	background-color: #000;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}
.header_menu .active {
	background-color: #000;
	color: #fff;
}

.speaker {
	margin-top: 20px;
}

.text-description {
	font-size: 14px;
}

.event-link-title {
	font-size: 16px;
	color: #0000EE;
}

.sub_divider {
	display: block;
	background-color: transparent;
	color: transparent;
	width: 960px;
	height: 2px;
}
