{% extends 'base.html' %}
{% block body%}
<div id="grad1">
	<div class="sub_divider"></div>
	<div class="center">
		Oh no! Something is wrong! Isaac and Michael are disappearing! But they don't wanna go!
		<div class="meme_row">
			<div class="meme_column">
				<img width="460" height="460" src="{{ url_for('static', filename='images/isaac_carr_fading.png') }}"/>
			</div>
			<div class="meme_column">
				<img width="460" height="460" src="{{ url_for('static', filename='images/michael_tran_fading.png') }}"/>
			</div>
		</div>
	</div>
</div>
{% endblock %}
