<!DOCTYPE html>
<html lang="en">

<head>
  <title>Not Facebook Events</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main2.css') }}" />
</head>

<body>
	<div class="center_header">
		<img height="70px" width="165px" typeof="foaf:Image" src="{{ url_for('static', filename='images/UNSW_0.png')}}" title="Home" />
		<div class="header_menu_container">
			<div class="header_menu">
			<a class="header_tab_first" href="{{ url_for('open_events') }}">Home</a>
			<a class="header_tab" href="{{ url_for('dashboard') }}">Dashboard</a>

			{% if current_user.is_admin() %}
				<a class="header_tab" href="{{ url_for('create_course') }}">Create Course</a>
				<a class="header_tab" href="{{ url_for('create_seminar') }}">Create Seminar</a>
  		{% endif %}

			<a class="header_tab_last" href="{{ url_for('logout') }}">Logout</a>
			</div>
		</div>
	</div>
  {% block body %}{% endblock %}

  <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
</body>

</html>
