{% extends 'base.html' %}
{% block body %}
<div id="grad1">
	<div class="sub_divider"></div>
  <div class="center">
    <h1>Create Course</h1>
    <form method="POST">
      Event Name: <input type="text" name="name"</input><br/>
      Event Status:
      <select name="status">
        <option value="open">open</option>
        <option value="closed">closed</option>
        <option value="cancelled">cancelled</option>
      </select><br />
      Event Commence Date: <input type="date" name="date"</input><br/>
      Event Commence Time: <input type="time" name="time"</input><br/>
      Event Location: <input type="text" name="location"</input><br/>
      Max Attendees: <input type="number" name="maxAttendees" min = "1" </input><br/>
      Date allowed for deregister: <input type="date" name="deRegWindow"</input><br/>
      Guest Register Fee (For guests only): <input type="number" name = "fee" min = "0"</input><br/>
      Early Bird Register Date (For guests only): <input type = "date", name = "earlyRegDate" min = "0" </input><br/>
      Event Abstract Information: <input type="text" name="abstractInfo"</input><br/>
      {% if message %}
        <p style = "color:red">{{message}}</p>
      {% endif %}
      <button name="create" type="submit">Create Course</button>
    </form>
  </div>
</div>
{% endblock %}
