{% extends 'base.html' %}
{% block body %}
<div id="grad1">
	<div class="sub_divider"></div>
	<div class="center">
	  <h1>Seminar: {{seminar.name}}</h1>
	  <h2>{{session.name}}</h2>
	  <form method="POST">
	    Status: {{session.status}}<br>
	    Date: {{session.date}}<br>
	    Time: {{session.time}}<br>
			Abstract Information: {{session.abstractInfo}}<br>
			Session Capacity: {{session.attendeeList|length}}/{{session.maxAttendees}}<br>
			{% if session.status == 'open' and register == True %}
        Date allows for deRegistration: {{session.deRegWindow}}
      {% endif%}
			<div class="speaker">
		    <h4>Speaker</h4>
		    Name: {{session.speaker.name}}<br />
		    Email: {{session.speaker.contact}}
		    <div>
		      {% if user.is_admin() and user.avoid_creator(seminar) == False %}
		        {% if session.status == 'open'%}
							<button name="close" type="submit">Close</button>
							<button name="view_attendees" type="submit">Get Attendee List</button>
							{% if message == 'view_attendees' %}
		            <h3>Current Attendees</h3>
								{% for member in session.attendeeList %}
									{{member}}<br/>
								{% endfor %}
								{% if not session.attendeeList %}
									<h4>No attendees</h4>
								{% endif %}
		          {% endif %}
		          {% if message == 'confirm_close_session' %}
		            <h3>Do you wish to continue?</h3>
		            <button name="confirm_close_session" type="submit">Continue</button>
		          {% endif %}
		        {% endif %}
		      {% else %}
		        {% if session.status == 'open' and register == False %}
		          <button name="register_session" type="submit", {% if message == "full" %} disabled {% endif %}>Register</button>
		          {% if message == 'confirm_register_session' %}
		            <h3>Do you wish to continue?</h3>
		            <button name="confirm_register_session" type="submit">Continue</button>
		          {% endif %}
						{% elif session.status == 'open' and register == True %}
		          <button name="deregister_session" type="submit", {% if message == "deregister invalid" %} disabled {% endif %} >deRegister</button>
							{% if message == "deregister invalid" %} <br>You are not allowed to deRegister.<br> {% endif %}
							{% if message == 'confirm_deregister_session' %}
		            <h3>Do you wish to continue?</h3>
		            <button name="confirm_deregister_session" type="submit">Continue</button>
		          {% endif %}
		        {% endif %}
		      {% endif %}
		    </div>
			</div>
	  </form>
	</div>
</div>
{% endblock %}
