{% extends 'base.html' %}
{% block body %}
<div id="grad1">
  <div class="sub_divider"></div>
  <div class="center">
    <h1>Speaker Profile</h1>
    <div>
      <img width = 100 src="http://mvimg11.meitudata.com/56d02ed9e09d14136.jpg!thumb320" />
      <img height = 100 src="http://img4.imgtn.bdimg.com/it/u=2883602002,3047019850&fm=27&gp=0.jpg" />
      <img height = 100 src="http://i.ksd-i.com/s/610*500_86400_d84e86fd94670c7108b15b55e8b0a8e0/static.koreastardaily.com/2017-01-09/89458-486392.jpg" />
    </div>
    <p style = "color: palevioletred">I have tried making this profile picture circular, but apparently this is out of my capability.</p>
    <p style = "color: palevioletred">Sorry bro~ I am disappearing! But I don't wanna go! </p>
    <br/>
    <p style = "color: palevioletred">So im gonna delegate my power to you to pick up one pict as speaker profile pict</p>
    <p style = "color: palevioletred">唔该</p>
    Speaker Name: {{speaker.username}}<br/>
    Speaker Email: {{speaker.email}}<br/>
    <br>
    <h3>Currently hosted Sessions</h3>
    {% for session_name in speaker.assigned_session.keys() %}
			<a class="text-description" href="{{url_for('session', seminar_id = speaker.get_seminar_id(session_name), session_name = session_name)}}">{{session_name}}</a>
		{% endfor %}
  
  </div>
</div>
{% endblock %}
