{% block content %}

<!DOCTYPE html>


<html>
	<head>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
		<link rel="icon" type="image/png" href="p4img1.jpg">
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>

	<body>

		
		
		<div id="slideshowp1">
			
		</div>
		
			<div id="panel1">
				a
			</div>
			
			<div id="panel2">
				b
			</div>
			
			<div id="panel3">
				c
			</div>
		
		<div id= "logo">
			
		</div>
		

		


	</body>

</html>
{% endblock %}