<!DOCTYPE html>
<html lang="en">

<head>
  <title>Not Facebook Events</title>
  <link rel="icon" type="image/png" href="http://gdurl.com/fWE1" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main2.css') }}" />
</head>

<body>
	<div class="center_header">
		<a href="{{ url_for('open_events') }}"><img height="70px" width="165px" typeof="foaf:Image" src="http://gdurl.com/SA2q" title="Home" /></a>
		<div class="header_menu_container">
			<div class="header_menu">

				<div class="header_tab_dummy"></div>
				<a class="header_tab" href="{{ url_for('open_events') }}">Home</a>
				<a class="header_tab" href="{{ url_for('dashboard') }}">Dashboard</a>
				{% if current_user.is_admin() %}
					<a class="header_tab" href="{{ url_for('create_course') }}">Create Course</a>
					<a class="header_tab" href="{{ url_for('create_seminar') }}">Create Seminar</a>
	  		{% endif %}
				<a class="header_tab" href="{{ url_for('page_not_found') }}">Memes</a>
				<a class="header_tab" href="{{ url_for('logout') }}">Logout</a>
				<div class="header_tab_dummy"></div>
			</div>
		</div>
	</div>
  <div id="grad1">
		<div class="sub_divider"></div>
		<div class="center">
			{% block body %}{% endblock %}
		</div>
	</div>

  <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
</body>

</html>
