{% extends 'base.html' %}
{% block body %}

<h1>Speaker Profile</h1>
<div>
  <img class="speaker-image" src="http://gdurl.com/MiHg" />
</div>

Speaker Name: {{speaker.username}}<br/>
Speaker Email: {{speaker.email}}<br/>
<br>
<h3>Currently hosting</h3>
{% for session_name in speaker.assigned_session.keys() %}
	<a class="text-description" href="{{url_for('session', seminar_id=speaker.get_seminar_id(session_name), session_name=session_name)}}">{{session_name}}</a>
{% endfor %}

{% endblock %}
