{% block content %}

<!DOCTYPE html>


<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/commoncss.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
		<link rel="icon" type="image/png" href="p4img1.jpg">
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>

	<body>

		

		<div id= "logo">
			<a href="/">
				<span></span>
			</a>
		</div>
		
		
		<div id="SCREEN_PUBLICFACE_LEFTBUTTON" class = "SCREEN_PUBLICFACE_BUTTONS" onclick="changePublicFace('LEFT')">
			<div class="SCREEN_PUBLICFACE_BUTTONS_CHEVRONS">
				<p>></p>
			</div>
		</div>
		
		<div id="SCREEN_PUBLICFACE_RIGHTTBUTTON" class = "SCREEN_PUBLICFACE_BUTTONS" onclick="changePublicFace('RIGHT')">
			<div class="SCREEN_PUBLICFACE_BUTTONS_CHEVRONS">
				<p><</p>
			</div>
		</div>
		
		<div id="SCREEN_PUBLICFACE" class="TRANSITION_BLUR_KNR">
		
		
		<div id="userdashboard" class="SCREEN_PUBLICFACE_PAGES">
			<h1 id ="userdashboardwelcomemsg"> Good {{timeofday}}, {{loggedinas}}.</h1>
			
			<form action="/pastevents/{{loggedinas}}">
				<input type="submit" value="{{loggedinas}}'s Past Events" id= "pasteventsbutton">
				
			</form>
			
			<form action="/currentevents/{{loggedinas}}">
				<input type="submit" value="{{loggedinas}}'s Current Events" id="currenteventsbutton">
				
			</form>
			
			
			
		</div>

		
						
			<div id="CreateEvent" class="SCREEN_PUBLICFACE_PAGES">
			
				<p id ="createeventmsg">Create New Event</p>
			
				<div id="panel_createEvent">
					<form method = "post" action="/createevent">
					
						
					
						<input name = "date" placeholder="Event Date" type = "text" id = "CreateEvent_date" class = "panel_createEvent_input">
						<input name = "time" placeholder="Event Time" type = "text" id = "CreateEvent_time" class = "panel_createEvent_input">
						<input name = "location" placeholder="Venue" type = "text" id = "CreateEvent_location" class = "panel_createEvent_input">
						<input name = "max_attendees" placeholder="Attendee Quota" type = "text" id = "CreateEvent_max_attendees" class = "panel_createEvent_input">
						<input name = "deregister_timeWindow" placeholder="Deregister Period" type = "text" id = "CreateEvent_deregister_timeWindow" class = "panel_createEvent_input">
						<input name = "description" placeholder="Description" type = "text" id = "CreateEvent_description" class = "panel_createEvent_input">
						
						
						<input type = "submit" id = "CreateEvent_submitbutton" class = "panel_createEvent_input">

					</form>
				</div>
			</div>

			
			<div id="EnrolledEvents" class="SCREEN_PUBLICFACE_PAGES">
			
				<p id ="EnrolledEventswelcomemsg"> Search for events</p>
			
				<div id="panel_enrolledEvents">
					<list>
						<li><a href = "/searchevents/event1">event1</a></li>
						<li><a href = "/searchevents/event2">event2</a></li>
						<li><a href = "/searchevents/event3">event3</a></li>
						<li><a href = "/searchevents/event4">event4</a></li>

					</list>
				</div>
			</div>
		</div>

		
	<script src = "{{ url_for('static', filename='css/parameters.js') }}"></script>
	<script src = "{{ url_for('static', filename='css/js.js') }}"></script>
	</body>

</html>
{% endblock %}