{% block content %}

<!DOCTYPE html>


<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/commoncss.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css') }}">
		<link rel="icon" type="image/png" href="p4img1.jpg">
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


	</head>

	<body>

		
		
		<div id="slideshowp1">
			
		</div>
		
		<div id= "logo">
			<a href="/">
				<span></span>
			</a>
		</div>
		
		
		<div id="loginpanel">
			<form method = "post">
				<input name = "username" placeholder = "COMP1531 Student" type = "text" id = "username" >
				<input name = "password" placeholder = "Password" type = "password" id = "password" autocomplete="off">
				<input type = "submit" id = "submitbutton">

			</form>
		</div>

		{% if error_code != 100 %}
		<div id = "messages">
			<p id = "message_errormessage">{{error_code}}</p>
		</div>
		{% endif%}

	</body>

</html>
{% endblock %}